html {
  height: 100%;
  font-family: arial;
  background: #cfc5bb;
  background-image: url(https://d2v8skpstyl8bm.cloudfront.net/products/images/product/3/e/3ec98a8a-c72b-3e99-9e16-3c9011c12dac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

header {
  text-align: center;
  padding:  .5em 0;
}

main {
  width: 60%;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  padding: .5em 0;
  width: 100%;
}

header, footer {
  text-align: center;
}

.dark-background-color {
  background-color: #29191a;
  color: white;
  opacity: 90%;
}

h2 {
  font-family: Arial;
  font-size: 36px;
  font-weight: lighter;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding:  .8em .5em .7em 1.5em;  
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  color: #29191ae6;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

li .content {
  flex-grow: 1;
}

.close {
  padding: 12px;
}

.close:hover {
  color: #f44336;
}

.header {
  padding: 30px 10%;
  text-align: center;
  margin-top: 5px;
}

input, button {
  margin: 0;
  border: none;
  padding: .7em;
  font-size: 16px;
  transition: 0.3s;
}

input {
  border-radius: .5em 0 0 .5em;
  width: 60%;
}

button {
  width: 23%;
  cursor: pointer;
  border-radius: 0 .5em .5em 0;
  background-color: burlywood;
  color: #29191ae6;
}

button:hover {
  background-color: #cfc5bb;
}

@media (max-width: 700px) { 

  h1 {
    font-size:  1.5em;
  }

  h2 {
    font-size: 28px;
    margin: 0 0 .5em 0;
  }

  main {
    width: 90%;
  }

  .header {
    text-align: center;
  }

  input, button {
    width:  90%;
    margin: 5px auto;
    border-radius: .2em;
    transition: .6s;
    padding: .5em 5%;
  }

  button {
    width: 100%;
  }
}
