html {
  height: 100%;
  font-family: arial;
  background: #cfc5bb;
  background-image: url(https://d2v8skpstyl8bm.cloudfront.net/products/images/product/3/e/3ec98a8a-c72b-3e99-9e16-3c9011c12dac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

header {
  text-align: center;
  padding: 10px 0;
  color: white;
}

main {
  width: 60%;
  margin: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.dark-background-color {
  background-color: #29191a;
  opacity: 90%;
}

h2 {
  font-family: Arial;
  font-size: 36px;
  font-weight: lighter;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  color: #29191ae6;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

li .content {
  flex-grow: 1;
}

.close {
  padding: 12px;
}

.close:hover {
  color: #f44336;
}

.header {
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin-top: 5px;
}

/* Eliminar floats después del header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 72%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

button {
  width: 25%;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  background-color: burlywood;
  color: #29191ae6;
  padding: 0;
  height: 39px;
  position: relative;
}

button:hover {
  background-color: #cfc5bb;
}
