ul li:hover {
  background-color: #ddd;
}

.close:hover {
  color: #f44336;
}

button:hover {
  background-color: #cfc5bb;
}

input,
button {
  transition: all 0.3s;
}

li {
  transition: all 0.2s;
}
