header,
footer,
main {
  text-align: center;
}

.dark-background-color {
  background-color: darkgoldenrod;
  color: white;
}

body {
  margin: 0;
}

header {
  padding: 0.5em 0;
}

main {
  width: 60%;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5em 0;
  width: 100%;
}

.subtitulo {
  padding: 30px 10%;
  text-align: center;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

input {
  width: 60%;
}

button {
  width: 23%;
}

ul li {
  padding: 0.8em 0.5em 0.7em 1.5em;
}
