html {
  height: 100%;
}

body {
  margin: 0;
}

header {
  padding:  .5em 0;
}

main {
  width: 60%;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: .5em 0;
  width: 100%;
}

header, footer {
  text-align: center;
}

.dark-background-color {
  background-color: darkgoldenrod;
  color: white
}

/* 1.1 */
ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding:  .8em .5em .7em 1.5em;  
}

.header {
  padding: 30px 10%;
  text-align: center;
  margin-top: 5px;
}

input, button {
  margin: 0;
}

input {
  width: 60%;
}

button {
  width: 23%;
}